.heading{
    color: green;

}

.details{
    text-align: left;
 display: flex;
 justify-content: center;
 

}

#male, #english{
    margin-left: 80px;
    margin-right: 10px;
    
}

#female, #english, #maths, #other{
    margin-right: 10px;
}

.genders, .subjects{
    margin-right: 15px;
}

.values{
    width: 350px;
}

.dropdown{
    width: 350px;
}

#aboutyou{
    height: 90px;
}

button{
    background-color: green;
    color: white;
    width: 90px;
    border-radius: 3px;
    
}

.button1{
    margin-right: 40px;
    margin-left: 20px;
}

.details  label{
    font-weight: bold;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}