h2 {
    color: red;
   
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.para{
    width: 70%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



